.box{
height: 200px;
width: 200px;
}
.box1{
background-color: blue;
padding: 50px;
}
.box2{
background-color: red;
margin: 40px;
}
.minheight{
min-height: 50px;
background-color: lime;
}
.header{
min-height: 100px;
background-color: skyblue;
}
.wrapper{
overflow: hidden;
}
.blog{float: left;
width: 60%;
min-height: 150px;
background-color: green;
}
.contact{
float: right;
width: 40%;
min-height: 150px;
background-color: yellow;
}
.footer{
min-height: 80px;
background-color: blue;
}
.first{
float: left;
width: 33.3%;
min-height: 160px;
}
.box3{
background-color: teal;
}
.box4{
background-color: red;
}
.box5{
background-color: orange;
}